@model GymBooking.Models.GymClass

@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
    <h1>Details</h1>
</div>


<div class="centerContent">
    <img src="/Images/Gym3.png" alt="Gym Image" />

    <dl class="row centerContent">
        <div class="col-sm-12 text-center">
            <dt >
                @Html.DisplayNameFor(model => model.Name)<text>:</text>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt >
                @Html.DisplayNameFor(model => model.StartTime)<text>:</text>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.StartTime)
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt >
                @Html.DisplayNameFor(model => model.Duration)<text>:</text>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.FormattedDurationWithoutSeconds)<text>h</text>
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt >
                @Html.DisplayNameFor(model => model.Description)<text>:</text>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        
        <dt class="col-sm-12 text-center">
            @Html.DisplayNameFor(model => model.AttendingMembers) 
        </dt>
        <dd class="col-sm-12 text-center">
            @foreach (var member in Model.AttendingMembers)
            {
                <div>
                    @Html.DisplayFor(modelItem => member.ApplicationUser.FullName)
                </div>
            }
        </dd>
        <div class="text-center">
            <a asp-action="Index">Back to List</a>
        </div>
    </dl>
</div>
