@model GymClass.BusinessLogic.Entities.GymClass

@{
    ViewData["Title"] = "Details";
}

<div class="center-content position-relative">

    <dl class="row center-content">
        <div class="col-sm-12 text-center">
            <dt class="uppercase-label">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt class="uppercase-label">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt class="uppercase-label">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FormattedDurationWithoutSeconds)<text>h</text>
            </dd>
        </div>
        <div class="col-sm-12 text-center">
            <dt class="uppercase-label">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>

        <dt class="col-sm-12 text-center uppercase-label">
            @Html.DisplayNameFor(model => model.AttendingMembers)
        </dt>
        <dd class="col-sm-12 text-center">
            @foreach (var member in Model.AttendingMembers)
            {
               @*  if () break;; *@
                <div>
                    @Html.DisplayFor(modelItem => member.ApplicationUser.FullName)
                </div>
            }
        </dd>
        <div class="text-center">
            <a asp-action="Index" class="btn btn-color btn-padding">Back to List</a>
        </div>
    </dl>
</div>