@using GymClass.BusinessLogic.Entities
@using GymClass.BusinessLogic.Services
@model IEnumerable<GymClass>
@inject IBookingService BookingService;

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormattedDurationWithoutSeconds) h
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <td>
                                @if (item.StartTime >= DateTime.Now)
                                {
                                    <a asp-action="BookingToggle" asp-controller="GymClasses" asp-route-id="@item.Id">

                                @if (await BookingService.IsMemberBooked(item.Id))
                                        {
                                            <text>Unbook</text>
                                        }
                                        else
                                        {
                                            <text>Book</text>
                                        }
                                    </a>
                                    <span>|</span>

                                }
                                <a asp-action="Details" asp-controller="GymClasses" asp-route-id="@item.Id">Details</a> <span>|</span>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-controller="GymClasses" asp-route-id="@item.Id">Edit</a>
                                    <span>|</span>
                                    <a asp-action="Delete" asp-controller="GymClasses" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
