@using System.Security.Claims
@using GymClass.BusinessLogic.Services
@inject IMessageToUserService MessageToUser;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym Booking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymBooking.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fonts/ford-antenna-black-cmp.woff" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid navbar-color">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav-placement">

                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <a class="nav-link text-navbar" asp-area="" asp-controller="GymClasses" asp-action="Index">HOME</a>
                            <li class="nav-item">
                                <a class="nav-link text-navbar" asp-area="" asp-controller="GymClasses" asp-action="Index"
                                   asp-route-showBooked="true"
                                   asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">MY BOOKED CLASSES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-navbar" asp-area="" asp-controller="GymClasses" asp-action="MyBookingHistory"
                                   asp-route-showHistory="true"
                                   asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">MY BOOKING HISTORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-navbar" asp-area="" asp-controller="GymClasses" asp-action="Index" asp-route-showhistory="true">CLASSES HISTORY</a>
                            </li>
                        }
                        else
                        {
                            <a class="nav-link text-navbar" asp-area="" asp-controller="GymClasses" asp-action="Index">HOME</a>
                            <li class="nav-item">
                                <a class="nav-link text-navbar" id="text-classeshistory" asp-area="" asp-controller="GymClasses" asp-action="Index" asp-route-showhistory="true">CLASSES HISTORY</a>
                            </li>
                        }

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- Add the image and overlay styling here -->
            <div class="center-content position-relative">

                <img src="/Images/Gym3.png" alt="Gym Image" class="img-logo" />

                <!-- Rest of the content with overlay styling -->
                <div class="table-overlay">

                    <h3 class="text-center">@MessageToUser.ShowMessage().ToUpper()</h3>
                    <hr />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="text-muted text-center">
        &copy; 2023 - GymBooking - Created By: Christian Rabb
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
